:root{
    --contact-h2-color: rgb(7, 195, 7);
    --contact-p-color: rgb(97, 96, 96);
    --contact-bgColor: rgb(243, 243, 243);
}
.contact-container{
    width: 100%;
    height: 85vh;
    display: block;
    padding: .8rem;
    background: var(--contact-bgColor);
}
.contact-container .header h2{
    margin-left: .9rem;
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--contact-h2-color);
} 
.contact-container .contact-body{
    width: 100%;
    display: flex;
    padding: .6rem;
}
.contact-body .col1{
    width: 50%;
    padding: .4rem;
}
.contact-body .col1 .row1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: .4rem;
}
.contact-body .col1 .row1 .photo{
    width: 30%;
}
.contact-body .col1 .row1 .photo img{
    width: 100%;
    height: 23vh;
}
.contact-body .col1 .row1 .note{
    width: 60%;
}
.contact-body .col1 .row1 .note h3{
    width: 60%;
}
.contact-body .col1 .row1 .note p, ol{
    font-size: 1.0rem;
    font-weight: 500;
    margin-bottom: .6rem;
    color: var(--contact-p-color);
}
.contact-body .col1 .row1 .note a{
    text-decoration: none;
    color: green;
}
.contact-body .col1 .row2{
    width: 100%;
    padding: .4rem;
}
.contact-body .col1 .row2 .input{
    width: 90%;
    padding: .6rem;
}
.contact-body .col1 .row2 .input input{
    width: 100%;
    border-radius: .4rem;
    padding: .6rem;
    background: white;
    font-size: 1.2rem;
    border: 2px solid rgb(112, 111, 111);
}
.contact-body .col1 .row2 .input textarea{
    width: 100%;
    border-radius: .4rem;
    padding: .6rem;
    font-size: 1.2rem;
    resize: none;
}
.contact-body .col1 .row2 .send-btn{
    display: flex;
    justify-content: center;
    width: 90%;
    border-radius: .4rem;
    padding: .6rem;
}
.contact-body .col1 .row2 .send-btn button{
    width: 60%;
    border-radius: .4rem;
    padding: .6rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    color: rgb(246, 247, 246);
    background-color: rgb(60, 189, 9);
    transition: all ease-out;
    cursor: pointer;
}
.contact-body .col1 .row2 .send-btn button:hover{
    color: rgb(60, 189, 9);
    background: white;
    border: 2px solid rgb(60, 189, 9);
}

.contact-body .col2{
    width: 50%;
    padding: .4rem;
}
.contact-body .col2 .text{
    margin-top: .8rem;
    background: rgb(253, 252, 252);
    width: 90%;
    padding: .8rem;
}
.contact-body .col2 .row1 ul{
    width: 30%;
    padding: .6rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.contact-body .col2 .row1 .media{
    font-size: 1.5rem;
    color: var(--contact-h2-color);
}

@media only screen and (max-width: 800px){
    .contact-container{
        height: 126vh;
        padding: .2rem;
    }
    .contact-container .contact-body{
        display: block;
    }
    .contact-body .col1{
        width: 100%;
    }
    .contact-body .col2{
        width: 100%;
    }
    .contact-body .col1 .row1{
        width: 100%;
        padding: 0rem;
    }
    .contact-body .col1 .row1 .photo{
        width: 30%;
    }
    .contact-body .col1 .row1 .note{
        width: 65%;
        margin-left: .9rem;
    }
    .contact-body .col1 .row1 .note h3{
        width: 90%;
    }
    .contact-body .col1 .row1 .note p, ol{
        font-size: .9rem;
        margin-bottom: .3rem;
    }
}
@media only screen and (max-width: 600px){
    .about .col1{
        width: 100%;
    } 
    .about .col2{
        width: 100%;
    }
    .about{
        height: 106vh;
    }
}
