.auth-container{
    width: 40%;
    margin: 4rem auto;
    padding: 2rem;
    background: rgb(253, 252, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auth-container .header h2{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(9, 202, 9);
}
.auth-container .header p{
    font-size: 1.2rem;
    font-weight: 400;
}
.auth-container .header p a{
    font-weight: 500;
    color: green;
}
.auth-container .input-fields{
    padding: .4rem 0;
    margin: .8rem 0;
}
.auth-container .input-fields label{
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
}
.auth-container .input-fields input{
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
    padding: .6rem .4rem;
    border-radius: .2rem;
    outline: none;
    border: 2px solid rgb(214, 211, 211);
}
.auth-container .auth-btn{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: .4rem;
    border-radius: .4rem;
    margin: .8rem 0;
    color: white;
    background: rgb(9, 202, 9);
    cursor: pointer;
    border: none;
    outline: none;
}
.auth-container .auth-btn{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: .4rem;
    border-radius: .4rem;
    margin: .8rem 0;
    color: white;
    background: rgb(9, 202, 9);
    cursor: pointer;
    transition: 3s ease-in-out;
    border: none;
    outline: none;
}
.auth-container .auth-btn:hover{
    background: white;
    color: rgb(9, 202, 9);
    border: 1px solid rgb(9, 202, 9);
}
.auth-container .forgot-pwd a{
    font-size: 1.2rem;
    font-weight: 400;
    color: green;
}